#main {
  padding: 0 20px;
}
#main h2 {
  padding: 0;
  margin: 10px 0 0;
  font-size: 22px;
  border-bottom: 2px solid #808080;
}
#main p {
  margin: 10px 0 0;
  padding: 0;
}
#main form.form-horizontal {
  margin-top: 20px;
}
#main form.form-horizontal .control-group {
  margin-bottom: 8px;
}
